name: Java CI with Maven

on:
  push:
    branches: [ "qa" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build and test with Maven
        run: mvn -B verify --file pom.xml

      - name: Upload JUnit test results
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: target/surefire-reports/*.xml

      - name: Publish Test Report
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: JUnit Test Report
          path: target/surefire-reports/*.xml
          reporter: java-junit

#      - name: Log in to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ env.DOCKER_USERNAME }}
#          password: ${{ env.DOCKER_PASSWORD }}
#      - name: QA action step
#        id: QA
#        uses: Jacobsonius/hello-world-docker-action@DockerHub
#        with:
#          key: ${{ secrets.KEY }}
#          input_file: pom.xml
#          output_file: qa.json
#
#      - name: Create Pull Request
#        uses: peter-evans/create-pull-request@v5
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          commit-message: "Auto update QA"
#          #            auto-merge: true
#          branch: auto/update-report
#          title: "Auto update QA"
#          body: "This PR was automatically created from GitHub QA Assistance Actions"
#          base: master