name: test-build

on:
  workflow_call:
    inputs:
      attempt:
        required: true
        type: number
    outputs:
      build_exit_code:
        description: "Result of the Maven build"
        value: ${{ jobs.build.outputs.build_exit_code }}
    secrets:
      MY_SECRET_KEY:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      build_exit_code: ${{ steps.capture_exit_code.outputs.build_exit_code }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Download LLM index
        uses: actions/download-artifact@v4
        with:
          name: llm-index
          path: .qa
          overwrite: true

      - name: Download test report
        uses: actions/download-artifact@v4
        with:
          name: junit-report
          path: target/surefire-reports/
          overwrite: true

      - name: Download coverage report
        uses: actions/download-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco
          overwrite: true

      - name: Generating test plan
        id: QATestPlan
        uses: Jacobsonius/hello-world-docker-action@DockerHub
        with:
          key: ${{ secrets.MY_SECRET_KEY }}
          action-name: PLAN
          target-value: '80'
          test-report-dir: ./target
          coverage-report-dir: ./target
          input-dir: ./
          output-dir: ./

      - name: Save plan
        uses: actions/upload-artifact@v4
        with:
          name: test-plan
          include-hidden-files: true
          path: .plan
          overwrite: true

      - name: Update tests
        id: QAUpdateTests
        uses: Jacobsonius/hello-world-docker-action@DockerHub
        with:
          key: ${{ secrets.MY_SECRET_KEY }}
          action-name: JUNIT_UPDATE
          target-value: '80'
          test-report-dir: ./target
          coverage-report-dir: ./target
          input-dir: ./
          output-dir: ./

      - name: Build and re-test (Attempt ${{ inputs.attempt }})
        continue-on-error: true
        run: mvn clean verify

      - name: Capture Maven Exit Code
        id: capture_exit_code
        run: |
          echo "build_exit_code=$?" >> $GITHUB_OUTPUT        

      - name: Save test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: target/surefire-reports/*.xml
          overwrite: true

      - name: Save coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/index.html
          overwrite: true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Auto update QA"
          #            auto-merge: true
          branch: auto/update-report
          title: "Auto update QA"
          body: "This PR was automatically created from GitHub QA Assistance Actions"
          base: master

#      - name: Show files
#        run: tree ./